In [1]:
from urllib.request import urlopen, Request
from bs4 import BeautifulSoup as bs
import pandas as pd

In [2]:
alamat = 'https://pokemondb.net/pokedex/all'
req = Request(alamat, headers={'User-Agent' : 'Mozilla/5.0'})
html = urlopen(req)
data = bs(html, 'html.parser')

In [3]:
table = data.find('table', {'id' : 'pokedex'})
rows = table.findAll('tr', limit=64)

In [4]:
pokes = []
for row in rows:
    poke_datas = []
    for data in row.findAll(['th','td']):
        poke_data = data.get_text().strip()
        poke_datas.append(poke_data)
    pokes.append(poke_datas)

In [5]:
df_pokes = pd.DataFrame(pokes)
df_pokes_head = df_pokes.iloc[0]
df_pokes.columns = df_pokes_head
df_pokes = df_pokes[1:]
df_pokes.reset_index(drop=True)

,#,Name,Type,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed
0,001,Bulbasaur,Grass Poison,318,45,49,49,65,65,45
1,002,Ivysaur,Grass Poison,405,60,62,63,80,80,60
2,003,Venusaur,Grass Poison,525,80,82,83,100,100,80
3,003,Venusaur Mega Venusaur,Grass Poison,625,80,100,123,122,120,80
4,004,Charmander,Fire,309,39,52,43,60,50,65
...,...,...,...,...,...,...,...,...,...,...
58,045,Vileplume,Grass Poison,490,75,80,85,110,90,50
59,046,Paras,Bug Grass,285,35,70,55,45,55,25
60,047,Parasect,Bug Grass,405,60,95,80,60,80,30
61,048,Venonat,Bug Poison,305,60,55,50,40,55,45
62,049,Venomoth,Bug Poison,450,70,65,60,90,75,90

In [6]:
df_pokes = df_pokes.drop(columns=['#', 'Type', 'Total'])

In [7]:
df_pokes

0                     Name  HP Attack Defense Sp. Atk Sp. Def Speed
1                Bulbasaur  45     49      49      65      65    45
2                  Ivysaur  60     62      63      80      80    60
3                 Venusaur  80     82      83     100     100    80
4   Venusaur Mega Venusaur  80    100     123     122     120    80
5               Charmander  39     52      43      60      50    65
..                     ...  ..    ...     ...     ...     ...   ...
59               Vileplume  75     80      85     110      90    50
60                   Paras  35     70      55      45      55    25
61                Parasect  60     95      80      60      80    30
62                 Venonat  60     55      50      40      55    45
63                Venomoth  70     65      60      90      75    90

[63 rows x 7 columns]

In [8]:
from sqlalchemy import create_engine

In [9]:
engine = create_engine('sqlite:///TugasPythonLanjutan_Hari_14_Hanif_Yuli_Abdillah_P.db', echo=True)
sqlite_connection = engine.connect()

2020-08-06 20:16:32,969 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS VARCHAR(60)) AS anon_1
2020-08-06 20:16:32,976 INFO sqlalchemy.engine.base.Engine ()
2020-08-06 20:16:32,979 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS VARCHAR(60)) AS anon_1
2020-08-06 20:16:32,982 INFO sqlalchemy.engine.base.Engine ()

In [10]:
sqlite_table = "pokemon"
df_pokes.to_sql(sqlite_table, sqlite_connection, if_exists='fail', index=False)

2020-08-06 20:16:41,714 INFO sqlalchemy.engine.base.Engine PRAGMA main.table_info("pokemon")
2020-08-06 20:16:41,716 INFO sqlalchemy.engine.base.Engine ()
2020-08-06 20:16:41,720 INFO sqlalchemy.engine.base.Engine PRAGMA temp.table_info("pokemon")
2020-08-06 20:16:41,724 INFO sqlalchemy.engine.base.Engine ()
2020-08-06 20:16:41,729 INFO sqlalchemy.engine.base.Engine
CREATE TABLE pokemon (
	"Name" TEXT,
	"HP" TEXT,
	"Attack" TEXT,
	"Defense" TEXT,
	"Sp. Atk" TEXT,
	"Sp. Def" TEXT,
	"Speed" TEXT
)


2020-08-06 20:16:41,732 INFO sqlalchemy.engine.base.Engine ()
2020-08-06 20:16:41,745 INFO sqlalchemy.engine.base.Engine COMMIT
2020-08-06 20:16:41,748 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2020-08-06 20:16:41,752 INFO sqlalchemy.engine.base.Engine INSERT INTO pokemon ("Name", "HP", "Attack", "Defense", "Sp. Atk", "Sp. Def", "Speed") VALUES (?, ?, ?, ?, ?, ?, ?)
2020-08-06 20:16:41,754 INFO sqlalchemy.engine.base.Engine (('Bulbasaur', '45', '49', '49', '65', '65', '45'), ('Ivysaur', '60', '62', '63', '80', '80', '60'), ('Venusaur', '80', '82', '83', '100', '100', '80'), ('Venusaur Mega Venusaur', '80', '100', '123', '122', '120', '80'), ('Charmander', '39', '52', '43', '60', '50', '65'), ('Charmeleon', '58', '64', '58', '80', '65', '80'), ('Charizard', '78', '84', '78', '109', '85', '100'), ('Charizard Mega Charizard X', '78', '130', '111', '130', '85', '100')  ... displaying 10 of 63 total bound parameter sets ...  ('Venonat', '60', '55', '50', '40', '55', '45'), ('Venomoth', '70', '65', '60', '90', '75', '90'))
2020-08-06 20:16:41,758 INFO sqlalchemy.engine.base.Engine COMMIT