In [1]:
from urllib.request import urlopen
from bs4 import BeautifulSoup as bs
import pandas as pd

In [2]:
alamat = 'https://en.wikipedia.org/wiki/List_of_brightest_stars'
html = urlopen(alamat)
data = bs(html)

In [3]:
table = data.findAll('table', {'class':'wikitable'})[0]

In [4]:
rows = table.findAll('tr')

In [5]:
df = []
for row in rows:
    aRow = []
    for cell in row.findAll(['th','td']):
        data = cell.get_text()
        aRow.append(data.strip())
    df.append(aRow)

In [6]:
df = pd.DataFrame(df)

In [7]:
head = df.iloc[0]
df.columns = head
df = df[1:]

In [8]:
df.reset_index(drop=True)

,Rank,Visual magnitude (mV),Proper name[1],Bayer desig. part 1,part 2,Distance (ly),Spectral class
0,1,0.000−26.74,Sun,,0.000015813,G2 V,None
1,2,0.001−1.46,Sirius,α,CMa,0008.6,"A0mA1 Va, DA2"
2,3,0.003−0.74,Canopus,α,Car,0310,A9 II
3,4,0.004−0.27 (0.01 + 1.33),Rigil Kentaurus & Toliman,α,Cen,0004.4,"G2 V, K1 V"
4,5,0.005−0.05,Arcturus,α,Boo,0037,K0 III
...,...,...,...,...,...,...,...
88,89,2.46,Markeb,κ,Vel,0540,B2 IV
89,90,2.47 (1.6–3.0var),Navi[c],γ,Cas,0610,B0.5 IVe
90,91,2.48,Markab,α,Peg,0140,A0 IV
91,92,2.48,Aljanah,ε,Cyg,0072,K0 III-IV
92,93,2.50,Acrab,β,Sco,0404,"B0.5 IV-V, B1.5 V, B2 V"

In [9]:
df['Spectral class'].iloc[0] = df['Distance (ly)'].iloc[0]
df['Distance (ly)'].iloc[0] = df['part 2'].iloc[0]
df['part 2'].iloc[0] = ''

In [10]:
df

,Rank,Visual magnitude (mV),Proper name[1],Bayer desig. part 1,part 2,Distance (ly),Spectral class
1,1,0.000−26.74,Sun,,,0.000015813,G2 V
2,2,0.001−1.46,Sirius,α,CMa,0008.6,"A0mA1 Va, DA2"
3,3,0.003−0.74,Canopus,α,Car,0310,A9 II
4,4,0.004−0.27 (0.01 + 1.33),Rigil Kentaurus & Toliman,α,Cen,0004.4,"G2 V, K1 V"
5,5,0.005−0.05,Arcturus,α,Boo,0037,K0 III
...,...,...,...,...,...,...,...
89,89,2.46,Markeb,κ,Vel,0540,B2 IV
90,90,2.47 (1.6–3.0var),Navi[c],γ,Cas,0610,B0.5 IVe
91,91,2.48,Markab,α,Peg,0140,A0 IV
92,92,2.48,Aljanah,ε,Cyg,0072,K0 III-IV
93,93,2.50,Acrab,β,Sco,0404,"B0.5 IV-V, B1.5 V, B2 V"